# Entorno virtual de uv
.venv/

# Archivos de datos y comprimidos (Ignorados por peso/privacidad)
dataset_ruedas.csv
*.zip
Lhicarsa_imagenes/
resultados/

# Python cache
__pycache__/
*.py[cod]

# Otros
.DS_Store